body {
  background-color: #444;
}

img {
  max-height: 300px;
  max-width: 400px;
}

.glide {
  width: 80%;
  margin: 0 auto;
}

.glide__slide {
  background: #eee;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}