html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #444;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.carousel {
  margin: 0 auto;
  max-width: 800px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.items {
  width: 400%;
  height: 400px;
  display: flex;
}

.items input {
  display: none;
}

.item {
  width: 25%;
  position: relative;
  transition: 2s;
}

.item img {
  width: 800px;
  height: 400px;
}

.manual-nav {
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: center;
  top: 67%;
  /* margin-top: -140px; */
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .7s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.auto-nav div {
  border: 2px solid #1ca9cc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .7s;
}

.auto-nav {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
  /* margin-top: -140px; */
}

.auto-nav div:not(:last-child) {
  margin-right: 40px;
  /* z-index: 2; */
}

#radio1:checked~.auto-nav .auto-btn1 {
  background-color: #1ca9cc;
}

#radio2:checked~.auto-nav .auto-btn2 {
  background-color: #1ca9cc;
}

#radio3:checked~.auto-nav .auto-btn3 {
  background-color: #1ca9cc;
}

#radio4:checked~.auto-nav .auto-btn4 {
  background-color: #1ca9cc;
}