body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #444;
}

.carousel-container {
  position: relative;
  height: 400px;
  width: 90%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #fff;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-out;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-item,
.carousel-item img {
  min-width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  padding: 0px 15px;
  z-index: 1;
  transition: 0.5s ease;
}

.carousel-button:hover {
  color: #1ca9cc;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}